Source: sgas-bart
Maintainer: Åke Sandgren <ake@hpc2n.umu.se>
Section: python
Priority: optional
Build-Depends: python3 (>= 3.8), debhelper (>= 12), dh-python
Standards-Version: 3.9.1

Package: sgas-bart
Architecture: all
Depends: ${misc:Depends}, python3 (>= 3.8), python3-twisted, python3-openssl, python3-dateutil
Replaces: python3-sgas-bart (<= 008-sams-20221101-1)
Conflicts: python3-sgas-bart (<= 008-sams-20221101-1)
Description: SGAS Batch system Reporting Tool

